<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<div class="text-center">
  <h1>Articles de flux RSS</h1>
  <button (click)="GetRssFeedData()" class="btn btn-outline-secondary">
    Get Rss Data
  </button>
  <div  *ngIf= "rssData">
    <h2>
      {{rssData.rss.channel[0].title[0]}}
    </h2>
    <div>Nombre d'articles: {{rssData.rss.channel[0].item.length}}</div>
    <!-- <a href="#" class="link-secondary">Flux mis à jour bla bla bla</a> -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col" *ngFor="let o of rssData.rss.channel[0].item">
        <div class="card">
          <div *ngIf="o.category" class="card-header">{{o.category[0]}}</div>
          <img *ngIf="o.image"  src="{{o.image[3]}}" class="card-img-top" alt="{{o.image[1]}}">
          <div class="card-body">
            <h5 class="card-title">{{o.title[0]}}</h5>
            <p class="card-text">{{o.description[0]}}</p>
            <a href="{{o.link[0]}}" class="btn btn-outline-primary mb-2">Voir plus</a>
            <div class="card-footer"><small class="text-muted">Publié le {{o.pubDate | date:'dd/MM/yyy'}} à {{o.pubDate | date:'hh:mm':'+0200':'fr-FR'}}</small></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <ul>
      <li *ngFor="let o of rssData.rss.channel[0].item"><a href="{{o.link[0]}}">{{o.title[0]}}</a></li>
    </ul>
    Links: <a href="{{o.link[0]}}"></a>
    Item title: {{o.title[0]}}
    Item subtitle?: {{o.title[1]}}
    Item description: {{o.description[0]}}
    Last time the RSS was built: {{o.lastBuildDate[0]}}
    Item Image: {{o.image[0]}}  = Link associated with the image
                {{o.image[1]}}  = Image title
                {{o.image[3]}}  = Image url
    Item Language: {{o.language[0]}}
  -->
  </div>
</div>
